* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: rgba(54, 117, 242, 0.4);
}
.logo {
  padding-top: 30px;
}

.home-button {
  margin-left: 20px; /* Adjust this value as needed */
  color: white;
  text-decoration: none;
}

.home-button img {
  width: 30px; /* Change this value as needed */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  padding-bottom: 30px;
}

.container {
  max-width: 100%;
  margin: auto;
  /* padding-left: 95px;
  padding-right: 95px; */
  background-color: #1ea1f2;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn:hover {
  background: #0779c0;
}

/* contact page */
.contact-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}
form input {
  border: 0;
  margin-bottom: 70px;
  padding: 20px;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}
.center {
  text-align: center;
}
.btn {
  display: inline-block;
  background: #1ea1f2;
  color: #fff;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 30px;
  transition: background 0.5s;
  font-size: 14px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100px;
  font-family: "Poppins";
}
#status {
  text-align: center;
}
